.App {
  margin: 60px;
  padding: 5px 2em;
  border: 3px solid #d1d7dc;
  font-family: 'Cairo', sans-serif;
}

h2{
  margin-top: 25px;
  margin-bottom: 10px;
}

p {
  margin-top: 0;
}

.explore_button {
  height: 55px;
  font-size: 1.2em;
  font-weight:600;
  margin-bottom: 2em;
  background-color: #fff;
  color: #000;
}

.explore_button:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}

.course-container {
  display: flex;
  flex-wrap: wrap;
  /* justify-self: start; */
}


.course-card {
  margin: 0 auto 20px auto;
  max-width: 16em;
  padding: 15px;
  border: 2px solid #000;
}

img{
  width: 240px;
  height: 135px;
  border: 1px solid #d1d7dc;
}

.title {
  margin-top: 0;
  margin-bottom: 0;
}

h4 {
  margin-top: 5px;
  color: #6a6f73;
  font-weight: 400;
  margin-bottom: 0;
}

.price {
  margin-top: 5px;
  margin-bottom: 5px;
}